.bg-green-100 {
    --tw-bg-opacity: 1;
    /* background-color: #dcfce7; */
    background-color: #fffefe;
    /* border-block-color: black; */
    /* border: gray; */
    background: border-box;
    /* background: bottom; */
    /* background: top; */
    border: 1px solid #395034;
    font-size: 18px;
    color: black;
    /* font-weight: 550; */
    width: 50rem;
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: #dbeafe;
    background-color: rgb(255 255 255);
    border: 2px solid #ac54a7;
    background: border-box;
    color: black;
    width: 50rem;
    font-size: 18px;
}

.css-bgb8jr {
    z-index: 1050;
    display: flex
;
    -webkit-box-align: center;
    pointer-events: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 100px;
    right: 16px;
    align-items: center;
}

.css-1pk1fka {
    FONT-WEIGHT: 200;
    font: inherit;
    letter-spacing: inherit;
    color: rgb(0 0 0 / 87%);
    box-sizing: content-box;
    /* background: white; */
    height: 5em;
    margin: 8px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    min-width: 0px;
    width: 134%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 35px 10px;
}

label#type {
    /* background: white; */
    height: 30px;
    /* margin-right: 10px; */
    text-indent: 13px;
    /* font-size: 16px; */
}

input#title {
    /* font-size: 18px; */
    /* line-height: 26px; */
    width: 780px;
    /* height: 00px; */
}

.bg-cyan-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(224, 224, 224);
    background-color: rgb(172 84 167);
}

button, input, optgroup, select, textarea {
    font-feature-settings: inherit;
    color: rgb(224, 224, 224);
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    /* width: fit-content; */
}

.animated-title {
    animation: fadeSlideIn 2s ease-in-out;
    color: #483ea5;
    font-size: 2rem;
    text-align: center;
}

.btn {
    --tw-text-opacity: 1;
    --tw-shadow: 0 1px 2px 0 #0000000d;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
    align-items: center;
    background-color: oklch(97.4663% .011947 259.822565 / var(--tw-bg-opacity));
    background-color: oklch(0.43 0.15 283.08);
    border-color: #0000;
    border-color: oklch(0 0 0);
    border-radius: .5rem;
    border-radius: var(--rounded-btn, .5rem);
    border-width: 1px;
    border-width: var(--border-btn, 1px);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: oklch(1 0 0);
    color: oklch(1 0 0);
    cursor: pointer;
    display: inline-flex
;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-size: .875rem;
    font-weight: 600;
    gap: .5rem;
    height: 3rem;
    justify-content: center;
    line-height: 1em;
    min-height: 3rem;
    outline-color: oklch(41.8869% .053885 255.824911 / 1);
    outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration-line: none;
    transition-duration: .2s;
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    -webkit-user-select: none;
    user-select: none;
}