html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  border-color: 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  /* max-width: 600px; */
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: hsl(260, 52%, 15%);
}
/* tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */
tbody td {
  position: relative;
}
/* tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
} */

.user-profile {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

.challenge-badge {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.completed-challenges, .created-challenges {
  margin-top: 20px;
}




.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: hsl(260, 52%, 15%);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}

/* .styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
} */

.highlight {
  border-bottom: 2px solid #000000;
  background-color: rgb(14, 27, 32); 
}